.btn {
  background: transparent;
  border: 1px solid;
  border-radius: 25px;
  padding: 10px 20px;
  transition: background 0.4s ease, border-color 0.4s ease, color 0.4s ease;
}

.btn-default {
  border-color: #fff;
  color: #fff;

  &:hover {
    background: #0075B2;
    border-color: #0075B2;
  }
}

.btn-inverse {
  border-color: #0075B2;
  color: #0075B2;

  &:hover {
    background: #0075B2;
    color: #fff;
  } 
}
