nav {
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-flow: row nowrap;
  height: 50px;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 1;

  a {
    color: #d8d8d8;

    &:hover {
      color: #fff;
    }
  }
}
