@import 'typography';
@import 'images';
@import 'buttons';
@import 'icons';
@import 'navigation';
@import 'layout';

body {
  margin: 0;
}

#pg404 {
  background-image: url('/images/background/techstash.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  
  .headings {
    color: #FFF;
  }
}

#home-header {
  background-image: url('/images/background/nightcars.jpg');
  justify-content: flex-start;
  min-height: 60vh;
  padding: 20vh 5vw;

  img {
    background: rgba(#fff, 0.5);
    box-shadow: 0 2.5px 17.5px rgba(#000, 0.35);
  }

  h1 {
    display: flex;
    flex: 0 0 auto;
  }

  p {
    display: flex;
    flex-flow: row nowrap;
  }
}

#resume-header {
  background-image: url('/images/background/computer.jpg');
}

#contact-header {
  background-image: url('/images/background/message.jpg');
  min-height: 40vh;
}

#contact-information {
  justify-content: flex-start;
  min-height: 40vh;
  padding: 40px 0;

  p {
    max-width: 80%;
  }
}

#work-experience {
  padding: 20px 10% 40px;

  h3 {
    margin-bottom: 5px;
  }

  h6 {
    margin: 5px 0 25px;
  }

  p {
    max-width: 85%;
  }
}
