@import 'typography';
@import 'images';
@import 'buttons';
@import 'icons';
@import 'navigation';
@import 'layout';

body {
  margin: 0;
}

#home-header {
  background-image: url('/images/background/beach.jpg');
  justify-content: flex-start;
  min-height: 60vh;
  padding: 20vh 5vw;

  img {
    background: rgba(#fff, 0.5);
    box-shadow: 0 2.5px 17.5px rgba(#000, 0.35);
  }

}

#resume-header {
  background-image: url('/images/background/boats.jpg');
}
