doctype
html
  head
    script(src="https://www.googletagmanager.com/gtag/js?id=UA-118636182-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-118636182-1');
      
    link(rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css")
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700' type='text/css')
    link(rel='stylesheet' href='/css/main.css' type='text/css')
    link(rel='icon' href='images/logo/color-square.png')
    title Mark Clayton
    meta(name='viewport' content="width=device-width, initial-scale=1.0")
  body
    nav
      a(href='/index.html') HOME
      span.divider |
      a(href='/resume.html') RESUME
      span.divider |
      a(href='/contact.html') CONTACT
    != yield
    footer
      script(src="//code.jquery.com/jquery-1.12.0.min.js")
      script(src="/js/main.js")
