section.header#contact-header
  h1 Contact Information
  p.subtitle Here's how to reach me.
section#contact-information
  p
    b Email: 
    a(href='mailto:contact@mclayton.net') contact@mclayton.net
  p
    b GitHub: 
    a(href='https://github.com/claytonmark') @claytonmark
  p 
    b Phone: 
    a(href='tel:+14046696717') +1 (404) 669-6717
  p
    b Address: 
    a(href='https://www.google.com/maps/place/Square+on+Fifth/@33.7779798,-84.3914838,17z/data=!3m1!4b1!4m2!3m1!1s0x88f504664c7beb03:0xb885da0d08e132b4') 848 Spring Street NW, Unit 706, Atlanta, GA 30308

