section.header-section
  img(src='/images/logo/inverse-color-square.svg' height='300')
  h1 Mark Clayton
  .subtitle
    a(href='/work.html') WORK
    span.divider |
    a(href='/resume.html') RESUME
    span.divider |
    a(href='/about.html') ABOUT
