section.header#home-header
  img(src='/images/logo/color-square.svg' height='300')
  h1 Mark Clayton
  p.
    Hi, I'm Mark.  I’m a 4th year student at Georgia Tech, majoring in Computer Science with a focus in Artificial Intelligence, databases, and computer networks.
  br
  a.btn.btn-default(href='/resume.html') View My Resume
