section.header#home-header
  img(src='/images/logo/color-square.svg' height='300')
  h1 Mark Clayton
  p.
    Hello, I'm Mark. I’m a developer interested in server-side algorithms that solve problems such as virtualization, data redundancy, distributed computing, and load balancing.
  br
  a.btn.btn-default(href='/resume') View My Resume
