section.header#home-header
  img(src='images/logo/color-square.svg' height='300')
  h1 Mark Clayton
  p.
    Hi, I'm Mark.  I'm a Senior at Georgia Tech, majoring in Computer Science with a focus in Artificial Intelligence, Databases, and Computer Networks.
  br
  p
    a.btn.btn-default.btn-home(href='/resume.html') View My Resume
    a.btn.btn-default.btn-home(href='/resources/resume_clayton_mark.pdf') Download a Copy
