section.header#resume-header
  h1 Resume
  p.subtitle Knowledgeable with computers with more than 5 years programming experience across multiple programming languages.
section
  h2 Programming Languages
  p  Java, PHP, Bin/Bash, Powershell, SQL, HTML, Javascript, C, C#, Python
  .icon-row
    i.devicon-java-plain
    i.devicon-php-plain
    i.devicon-mysql-plain
    i.devicon-html5-plain
    i.devicon-javascript-plain
    i.devicon-c-plain
    i.devicon-csharp-plain
    i.devicon-python-plain
section.red-background
  h2 Platforms
  p CentOS, Ubuntu, Amazon Cloud Linux, Windows Server 2012, Windows Server 2008, Windows 8, Windows 7, Windows XP, OS X
  .icon-row.inverse
    i.devicon-linux-plain
    i.devicon-ubuntu-plain
    i.devicon-amazonwebservices-original
    i.devicon-windows8-original
    i.devicon-apple-original
section
  h2 Work Experience
  p See sheet
section.dark-background
  h2 Education
  p Georgia Institute of Technology, expected graduation 2018
