section.header#resume-header
  h1 Resume
  p.subtitle Knowledgeable with computers with more than 5 years programming experience across multiple programming languages.
section
  h2 Programming Languages
  p  Java, PHP, Bin/Bash, Powershell, SQL, HTML, Javascript, C, C#, Python
  .icon-row
    i.devicon-java-plain
    i.devicon-php-plain
    i.devicon-mysql-plain
    i.devicon-html5-plain
    i.devicon-javascript-plain
    i.devicon-c-plain
    i.devicon-csharp-plain
    i.devicon-python-plain
section.red-background
  h2 Platforms
  p CentOS, Ubuntu, Amazon Cloud Linux, Windows Server 2012, Windows Server 2008, Windows 8, Windows 7, Windows XP, OS X
  .icon-row.inverse
    i.devicon-linux-plain
    i.devicon-ubuntu-plain
    i.devicon-amazonwebservices-original
    i.devicon-windows8-original
    i.devicon-apple-original
section#work-experience
  h2 Work Experience
  hr
  h3 Student IT Assistant
  h6 Westside High School <span class='divider'>|</span> Aug. 2013 – Jul. 2014
  p Fulfilled various IT roles on both a formal and informal basis, including hardware instillation and repair, physical network maintenance (LAN drops, switch/router arrangements, patch panel installation), and software support
  p Designed multiple hardware systems valued at over $3000 for use in an educational environment.
  p Set up and maintained technologies in which staff training was not yet available, such as 3D printing, 3D scanning, and other emerging technologies.
  hr
  h3 Programming Mentor
  h6 Mercer University Computer Science for Kids <span class='divider'>|</span> July 2013
  p Worked alongside Mercer University computer science professors and staff
  p Helped teach children 14 and under programming, robotics, computational media, and teamwork skills.
  hr
  h3 Freelance Programmer
  h6 PowerBot Project <span class='divider'>|</span> Aug. 2008 – Nov. 2010
  p Programmed on top of an existing API while contributing to the API as a group member
  p Designed and maintained server-based DRM and authentication systems that utilized encryption, remote class-loading, and database verification.
  p Operated individually for advertising, salves, development, and QA.
  p Earned over $3000 across 8 months and achieved over 400 individual sales
  hr
section.dark-background
  h2 Education
  p Georgia Institute of Technology, expected graduation 2018
section
  h2 Want a PDF?
  p A link to the PDF form of my resume is available below.
  br
  a.btn.btn-inverse(href='/resources/resume.pdf' target='_blank') Download Resume
