section.header#resume-header
  h1 Resume
  p.subtitle Adept Programmer with more than 8 years programming experience across multiple programming languages.
section
  h2 Programming Languages
  p  Java, Python, Bin/Bash, MySQL, PHP, Javascript, HTML, C#
  .icon-row
    i.devicon-java-plain
    i.devicon-python-plain
    i.devicon-linux-plain.colored
    i.devicon-mysql-plain
    i.devicon-php-plain
    i.devicon-javascript-plain
    i.devicon-html5-plain
    i.devicon-csharp-plain
section.blue-background
  h2 Platforms
  p Ubuntu Server, Amazon Cloud Linux, Windows Server, OS X
  .icon-row.inverse
    i.devicon-ubuntu-plain
    i.devicon-amazonwebservices-original
    i.devicon-windows8-original
    i.devicon-apple-original
section.dark-background
  h2 Education
  p BS in Computer Science at Georgia Institute of Technology, expected graduation Dec. 2018
  p Focus in Aritificial intelligence, Databases, and Computer Networks
section#work-experience
  h2 Projects
  h3 EULA Automated Analysis Tool
  p An automated tool performs analysis on End User License Agreements (EULAs) and measures their compliance to a set of advisory heuristics using natural language processing, machine learning, and image feature extraction.
  p
  p An example application flow is available 
    a(href="http://eula.mclayton.net") here
    |. 
section.dark-background#work-experience
  h2 Work Experience
  hr
  h3 Undergraduate TA
  h6 Georgia Institute of Technology <span class='divider'>|</span> Jan. 2016 - Jul. 2017
  p Performed many educational roles including lecturing, grading, and designing assignments for over 800 undergraduates with varied computer science experience
  p Sometimes acted in administrative capacity for a variety of course policies including grade disputes, honor code enforcement, and plagiarism detection
  p Developed integrations for preventing plagiarism and practices to optimize electronic grading workflows
  hr
  h3 Software Dev Intern
  h6 Sideqik <span class='divider'>|</span> May 2016 - Aug. 2016
  p Worked heavily in social media data mining (both API & DOM parsing) and processing/analytics using asynchronous frameworks for optimization
  p Integrated a major API inclusion (Instagram) that led to discovery of over 5 million data points (reach/likes/engagements) for high-visibility profiles
  p Designed and implemented customer-facing UI experiences for marketing professionals
section.blue-background
  h2 Want a PDF?
  p A link to the PDF form of my resume is available below.
  br
  a.btn.btn-inverse(href='/resources/resume_clayton_mark.pdf' target='_blank') Download Resume
